
body {
  background-color: #0B2434;
}
main {
  background-color: #F5F5F5;
  height: 35rem;
  width: 35rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 150px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.title {
  font-size: 40px;
  margin: 0;
  padding: 25px;
  color: #59E391;
}

.instructions {
  font-family: 'Inter', sans-serif;
  font-weight: 550;
  margin-top: 0;
  text-align: center;

}

.die-container{
  display: grid;
  grid-template-rows: 100px 100px;
  grid-template-columns: repeat(5,100px);
}

.single-die {
  width: 80px;
  height: 80px;
  background: #FFFFFF;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 3.81277px;
  display: flex;
  justify-content: center;
  align-items:center;
  cursor: pointer;
}


.die {
  font-size: 2rem;
}

button{
  background-color: #5035FF ;
  color: #FFFFFF  ;
  box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
border-radius: 3.81277px;
width: 170px;
height: 70px;
font-size: 2rem;
border: none;
cursor: pointer;
}

.catched {
  background-color: #59E391  ;
}

.won{
  color: red;
  font-family: 'Inter', sans-serif;
  font-weight: 1000;
  margin-top: 0;
  text-align: center;

}